.very-unlikely {
  background-color: #38ab6e;
}

.unlikely {
  background-color: #f8d73e;
}

.equally {
  background-color: #f1aa22;
}

.likely {
  background-color: #f17c1e;
}

.very-likely {
  background-color: #f1381f;
}
