.footer {
  @extend %full-width;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center center;
  color: #fff;

  @media screen and (max-width: $tablet-width) {
    height: $footer-height + 20px;
  }

  .container {
    position: relative;
  }

  .logo,
  .socials {
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    top: 50%;

    @media screen and (max-width: $tablet-width) {
      transform: translate(0);
      top: 20px;
    }
  }

  .logo {
    @extend %logos;
    left: 0;
    width: 100px;
  	height: 24px;
  	background-position: 0 0;
  }

  .rights {
    color: #fff;
    line-height: $footer-height;
    text-align: center;
    font-size: 12px;

    @media screen and (max-width: $tablet-width) {
      padding-top: $footer-height;
      line-height: 20px;
    }
  }

  .socials {
    right: 0;
  }
}
