.questions {
  margin-bottom: 40px;
  border-radius: 8px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 30px;
  background-color: #fff;

  @media screen and (max-width: $mobile-width) {
    padding: 20px;
  }

  &-group-title {
    margin-bottom: 30px;
    color: #cdd5da;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    @media screen and (max-width: $mobile-width) {
      margin-bottom: 20px;
    }
  }

  &-title {
    display: block;
    margin-bottom: 30px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

    @media screen and (max-width: $mobile-width) {
      margin-bottom: 20px;
    }
  }
}
