.results {
  .indicator {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
  }

  .title {
    @media screen and (max-width: $mobile-width) {
      font-size: 16px;
    }
  }

  .title,
  .description {
    @media screen and (max-width: $tablet-width) {
      text-align: left;
    }
  }

  .table,
  .table-cell {
    @media screen and (max-width: ($container-width + 10px)) {
      display: block;
    }
  }

  .table-cell {
    @media screen and (max-width: ($container-width + 10px)) {
      padding: 20px 0;
    }
  }

  &-value {
    float: right;
    font-weight: normal;

    strong {
      margin-right: 10px;
    }

    .indicator {
      vertical-align: bottom;
      width: 18px;
      height: 18px;
    }
  }

  &-by-groups {
    overflow: hidden;
    margin-bottom: 30px;

    .indicator {
      width: 10px;
      height: 10px;
    }

    &-i {
      float: left;
      width: 31%;

      &:not(:last-child) {
        margin-right: 3%;
      }
    }

    &-title {
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
