.scale {
  padding-left: 84px;

  @media screen and (max-width: ($container-width + 10px)) {
    padding-left: 0;
    font-size: 0;
  }

  &-i {
    color: #8197a2;
    white-space: nowrap;
    line-height: 20px;
    font-size: 13px;

    @media screen and (max-width: ($container-width + 10px)) {
      width: 20%;
      display: inline-block;
      padding: 0 10px;
      box-sizing: border-box;
      text-align: center;
    }

    @media screen and (max-width: 840px) {
      width: 25%;
    }

    @media screen and (max-width: 660px) {
      width: 33.33%;
    }

    @media screen and (max-width: 540px) {
      width: 50%;
    }

    & {
      @media screen and (max-width: ($container-width + 10px)) {
        margin-bottom: 18px;
      }

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    &-value {
      display: inline-block;
      width: 130px;
      margin-right: 20px;
      border-radius: 10px;
      color: #fff;
      text-align: center;

      @media screen and (max-width: ($container-width + 10px)) {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    &-title {
      @media screen and (max-width: ($container-width + 10px)) {
        display: block;
      }
    }
  }
}
